/* Variables */

:root {
--basic-gray: #EEEEEE;
--basic-extra-dark: #242424;
--basic-dark: #aba9a7;
--basic-neutral: #e5e5e5;
--basic-extra-light: #f8f5f2;
--basic-white: #FFFFFF;
--basic-black: #000000;

--special: #DFDFDF;
}

/* Global */

body {
min-width: 1157px;
margin: 0;
padding: 0;
font-family: "Roboto", Arial, sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: var(--basic-black);
background-color: var(--basic-white);
background-image: url("../img/bg.jpg");
background-position: top center;
background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page {
height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: start;
}

/* Grid for pages */

.page-main-maim {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
  }

/* Main header */

.main-header {
  margin-bottom: 0px; 
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  text-transform: uppercase;
  }

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 8px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

/* Logo */

.main-header-logo {
  margin-top: 15px;
  order: 0;
  width: 159px;
  height: 65px;
    }

/* Container */

.container {
  width: 1137px;
  margin: 0 auto;
  padding: 0 10px;
}

.container .main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Site Navigation */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin-left: 188px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}

li.site-navigation-current:before {
content: "";
width: 70%;
height: 2px;
background: red;
bottom: 20px;
display: block;
transform: translateX(-50%);
left: 50%;
position: absolute;
}

.site-navigation-current {
  position: relative;
}

/* User navigation */

.user-navigation {
  display: block; 
  max-width: 88px;
  margin: 0px;
  margin-top: 45px;
  padding: 6px 6px;
  }

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
  display: block;
  padding: 25px 20px;
  }


.site-navigation a:hover,
.user-navigation a:hover {
  color: #FB565A;
  }

.site-navigation a:focus,
.user-navigation a:focus {
color: #000000;
}


.site-navigation a:active,
.user-navigation a:active {
color: #000000;
opacity: 0.3;
}

/* Basket */

.basket::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 11px;
  width: 15px;
  height: 15px;
  background-image: url("img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .basket {
  padding-left: 50px;
  position: relative;
}

/* Slider */

.site-wrapper {
  min-width: 1157px;
  background-color: #EEEEEE;
  background-repeat: no-repeat;
  }

.site-wrapper-1 {
 min-width: 1157px;
  background-color: #EEEEEE;
  background-repeat: no-repeat;
 background-image: url("img/nerds-index-slide11.png");
background-position: 100% 100%;

 }

.site-wrapper-2 {
  min-width: 1157px;
  background-color: #EEEEEE;
  background-repeat: no-repeat;
  background-image: url("img/nerds-index-slide21.png");
  background-position: 100% 100%;
 
 }

.site-wrapper-3 {
  min-width: 1157px;
  background-color: #EEEEEE;
  background-repeat: no-repeat;
 background-image: url("img/nerds-index-slide31.png");
 background-position: 100% 100%;
 
 }

.slider {
  position: relative;
  padding-bottom: 80px;
  padding-top: 5px;
  margin-top: -15px;
  color: #000000;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-title {
  padding-bottom: 0px;
  margin-bottom: 25px;
  width: 540px;
  font-size: 51px;
  line-height: 55px;
  font-weight: 600;
}

p.slide-title {
  width: 400px;
  margin-bottom: 38px;
  padding-top: 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.slide-button {
  display: inline-block;
  padding: 16px 54px;
  margin: 5px 2px;
  color: rgb(255,255,255, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: #FB565A;
  text-align: center;
  border-radius: 3px;
}

.slide-button:hover {
  background: #E74246;
}

.slide-button:active {
  color: rgb(255,255,255, 0.5);
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .slider-controls {
  position: absolute;
  top: 247px;
  bottom: 96px;
  left: 536px;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  margin: 0;
  margin-top: 55px;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
 

.slider-controls .current:before {
content: "";
top: 83%;
transform: translateX(-50%);
position: absolute;
width: 9px;
height: 9px;
border: 2px solid #C1C1C1;
border-radius: 50%;
box-sizing: border-box;
}

/* Web-store */

.web-store h1 {

 margin-left: -12px;
 margin-top: 45px;
 margin-bottom: 105px; 
 font-weight: 600;
 font-size: 54px;
 line-height: 55px;
 text-align: center;
 color: var(--basic-black);
 background-color: var(--basic-gray);
}

/* Main-maim */
.main-maim {
color: var(--basic-black);
 background-color: var(--basic-white);
}
  
/* Features */
.features {
  position: relative;
  margin-top: 8px;
  margin-bottom: 59px;
  padding: 0px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  
}

 .features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  margin-bottom: 25px;
  margin-right: -70px;
  padding: 56px 0px;
  list-style: none;
 }

.features-link{
position: relative;
right: 40px;
}


.features-item h3{
 margin-top: 20px;
font-weight: 700;
font-size: 24px;
line-height: 30px;
align-items: center;
text-transform: uppercase;
}
  
.features::before {
position: absolute;
display: block;
margin-left: 0px;
margin: 0px;
content: "";
width: 1158px;
height: 2px;
background: #EEEEEE;
}

.features::before {
margin-top: 500px;
}


p.inner-title {
margin-bottom: 45px;
margin-top: -8px;
color: black;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.order-red {
padding: 15px 45px;
color: var(--basic-white);
font-weight: 500;
font-size: 16px;
line-height: 18px;
border-radius: 3px;
background-color: #FB565A;
}

.order-red:hover,
.order-red:focus {
  color: var(--basic-white);
 background: #E74246;
}

.order-red:active {
color: rgb(255,255,255, 0.5);
background: #D7373B;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

.order-green {
padding: 15px 45px;
color: var(--basic-white);
font-weight: 500;
font-size: 16px;
line-height: 18px;
border-radius: 3px;
background-color: #00CA74;
}

.order-green:hover,
.order-green:focus {
  color: var(--basic-white);
 background: #00BC6C;
}

.order-green:active {
color: rgb(255,255,255, 0.5);
background: #00AA62;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.order-yellow {
padding: 15px 45px;
color: var(--basic-white);
font-weight: 500;
font-size: 16px;
line-height: 18px;
border-radius: 3px;
background-color: #EFC849;
}

.order-yellow:hover,
.order-yellow:focus {
  color: var(--basic-white);
 background: #EAB534;
}

.order-yellow:active {
color: rgb(255,255,255, 0.5);
background: #E5A722;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
/* Outer-columns */

.outer-columns {
  display: flex;
  justify-content: space-between;
  margin: 17px 0;
  }

.outer-columns-left {
width: 660px;
 }

.outer-columns-right {
 width: 370px;
 }

.outer-columns-left *:last-child,
.outer-columns-right *:last-child {
  margin-bottom: 0px;
 }

.virtues {
position: relative; 
margin-top: 23px;
}

.virtues-list {
  list-style: none;
}

.virtues h3{
font-weight: 500;
font-size: 45px;
line-height: 45px;
color: var(--basic-black);
margin: 0px;
padding-top: 33px;
}

.virtues-item {
position: absolute;
left: 0px;
top: 142px;
margin: 0px;
padding: 0px; 
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.picture-list {
list-style: none;
}

.picture-item {
 margin: 0px;
 margin-top: 20px;
 margin-right: -30px;
 margin-bottom: -40px;
 padding-top: 0px;
width: 360px;
}

/* Services */

.services {
margin: 0px;
margin-bottom: 23px;
padding: 0px;
margin-top: 18px;
color: var(--basic-black);
background-color: var(--basic-white);
}

.services::before,
.services::after {
position: absolute;
display: block;
margin-left: 0px;
margin: 0px;
content: "";
width: 1158px;
height: 2px;
background: #EEEEEE;
}

.services::before {
margin-top: 240px;
}

.services::after{
margin-top: 240px;  
}

.services h3{
margin: 0px;
margin-bottom: 0px;
padding: 0px;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
}

.services-list {
min-width: 499px;
list-style: none;
}

.services-item {
padding: 11px 10px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.services .services-item {
  display: flex;
  align-items: center;
      }

li.services-item::before {
  display: block;
  margin-left: 0px;
  margin: 0px;
  content: "";
  width: 25px;
  height: 2px;
  background: #FB565A;
}

li.services-item::before {
  margin-left: -50px;
  margin-right: 7px;
} 

/* Pros */

.pros {
 width: 400px;
color: var(--basic-black);
background-color: var(--basic-white);

}

.pros h3{
margin-left: 56px;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
}

.pros-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
list-style: none;
}

ol .pros-item {
min-height: 64px;
margin-left: 26px;
margin-right: 0px;
margin-top: 0px;
padding: 0px 10px;
font-weight: 700;
font-size: 45px;
line-height: 64px;
}

.percent{
position: absolute;
font-weight: 700;
font-size: 26px;
line-height: 40px;
}

ul .pros-item {
min-height: 37px;
margin-left: 35px;
margin-top: -20px;
padding: 0px;
font-weight: 400;
font-size: 16px;
line-height: 18px;
}

.pros-item:nth-child(3n) {
  margin-left: 20px;
}

/* Advantages */

.advantages { 
width: 270px;
margin-top: -38px;
   }

.advantages fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
  border: none;
}

.advantages fieldset:first-child {
  margin-bottom: 56px;
  margin-left: 0px;
  }

.advantages legend {
margin-bottom: 15px;
margin-left: 0px;
font-weight: 700;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
}

.advantages ul {
   padding: 0px;
  margin: 0px;
  margin-top: -11px;
  margin-bottom: 28px;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}


.advantages li {
  padding: 7px;
  margin: 0px;
}

.advantages-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding: 5px;
  margin-left: 30px;
  }

.advantages-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  opacity: 0.4;
  border: 2px solid #4D4D4D;
  color: #283136;
  opacity: 0.4;
}

.advantages-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -38px;
  width: 21px;
  height: 16px;
  background-image: url("img/shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.advantages-input-checkbox + label:hover:before,
.advantages-input-checkbox + label:hover:after {
color: #4D4D4D;
opacity: 1;
}

.advantages-input-checkbox:focus + label {
 color: #283136;
 mix-blend-mode: normal;
 opacity: 0.3;
}

.advantages-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -5px;
  width: 25px;
  height: 25px;
  opacity: 0.4;
  border: 4px solid #4D4D4D;
  opacity: 0.4;
  border-radius: 50%;
 }

.advantages-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -32px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #4D4D4D;
  opacity: 0.4;
}

.advantages-input-radio + label:hover:before,
.advantages-input-radio + label:hover:after {
  color: #4D4D4D;
  opacity: 1;
  }

  .advantages button {
    margin-top: -5px;
    margin-left: -2px;
  }

  .filter-item {
  padding: 0px;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 31px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 22px;
  padding-left: 33px;
  background: #EEEEEE;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  }

.price-controls input {
  width: 60px;
  padding: 8px;
  margin-left: 15px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 3px;
  background: #EEEEEE;
  font-family: inherit;
  font-size: inherit;
}
  
/* Button */

.button {
  padding: 17px 88px;
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #EEEEEE;
  outline: none;
  border: none;
  border-radius: 3px;
  }

.button:hover,
.button:focus {
  background: #DFDFDF;
}

.button:active {
color: rgb(0,0,0, 0.5);
background: #D5D5D5;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}

/* Breadcrumbs */

.page-title {
margin-left: 395px;
margin-top: 55px;
margin-bottom: 0px;
font-weight: 700;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
  }

.breadcrumbs {
margin-left: 573px;
margin-top: 59px;
margin-bottom: 48px;
list-style: none;
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
}

.breadcrumbs li::before {
position: absolute;
content: "";
width: 0;
height: 0;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-top: 13px solid black;
margin-top: 5px; 
margin-left: 230px;
}

.breadcrumbs li:last-child:before {
margin-left: 170px;
margin-top: 8px;
transform: rotate(60deg);
opacity: 0.2;
}

.breadcrumbs li:first-child:before {
  display: none;
 }

.breadcrumbs a {
  color: var(--basic-black);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.breadcrumbs li {
  position: relative;
  margin-right: 25px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
 color: #000000;
 opacity: 0.6;
 }

.breadcrumbs a:active {
color: #000000;
opacity: 1;
}

.breadcrumbs-current {
margin-top: 3px;  
color: var(--basic-black);
font-weight: 400;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
}

/* Catalog */

.catalog {
width: 860px;
margin-left: 173px;
margin-top: -17px;

  }

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
}

.catalog-item {
  position: relative;
  min-width: 358px;
  min-height: 578px;
  margin-right: 40px;
  margin-top: 57px; 
  margin-bottom: 10px;  
  background-color: var(--basic-extra-light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.description-catalog{
position: absolute;
padding: 0;
padding-top: 6px; 
margin: 0; 
text-align: center;
width: 360px;
min-height: 231px;
background: #EEEEEE;
z-index: 1;
bottom: 0;
opacity: 0;
}

.description {
display: block;
margin: 0px; 
padding-top: 15px; 
font-weight: 700;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
color: #000000;
}

p.description-title {
margin: 0;
padding: 13px 0px; 
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #666666;
margin-bottom: 32px;
}

li.catalog-item:hover
.description-catalog {
opacity: 1;
}

.description:hover {
  color: #FB565A;
}

.description:active {
color: #000000;
opacity: 0.3;
}

.description-button {
color: #FFFFFF;
font-size: 16px;
background: #FB565A;
padding: 17px 72px;
font-weight: 500;
line-height: 18px;
border-radius: 3px;
outline: none;
border: none;
}

.description-button:hover,
.description-button:focus {
 color: var(--basic-white);
 background: #E74246;
 }

.description-button:active {
color: var(--basic-white);
background: #D7373B;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.strip {
position: absolute;
display: block;
margin-left: 0px;
margin: 0px;
width: 358px;
height: 40px;
background: #4D4D4D;
opacity: 0.12;
margin-top: -40px;
}

.strip .circle-1,
.strip .circle-2,
.strip .circle-3 {
position: absolute;
display: block;
margin-left: 0px;
margin: 0px;
width: 14px;
height: 14px;
background: #FFFFFF;
box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
border-radius: 50%;
margin-top: 13px;
margin-left: 16px;
}

.strip .circle-2 {
margin-top: 13px;
margin-left: 36px;
}

.strip .circle-3 {
margin-top: 13px;
margin-left: 56px;
}

li.catalog-item:hover
.strip {
opacity: 1;
}
/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 42px;
  margin-top: 35px;
  margin-bottom: -28px;
  list-style: none;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-button a{
  display: block;
  padding: 15px 78px;
  color: var(--basic-black);
  background: #EEEEEE;
  border-radius: 3px;
  font-weight: 600;
font-size: 20px;
line-height: 18px;
}
.pagination-item a {
  display: block;
  padding: 12px 20px;
  color: var(--basic-black);
  background: #EEEEEE;
  border-radius: 3px;
}

.pagination-item-current a{
padding: 9px 18px;
}

.pagination-item a:hover,
.pagination-button a:hover {
background: #DFDFDF;}

.pagination-item a:focus {
background: rgba(0, 0, 0, 0.0001);
border: 3px solid #DBDBDB;
box-sizing: border-box;
}

.pagination-item a:active,
.pagination-button a:active {
color: rgb(0,0,0, 0.5);
background: #D5D5D5;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
background: rgba(0, 0, 0, 0.0001);
border: 3px solid #DBDBDB;
box-sizing: border-box;
}
/* Sites*/

.sites{
 display: flex;
 justify-content: space-between;
 margin: 0px;
 margin-top: 100px;
 margin-left: -55px;

}

.sites-list {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
 }

.sites-item a img {
 opacity: 0.2;
}

.sites-item a:hover img {
   opacity: 1; 
}

.sites-item a:active img{
    opacity: 0.1; 
}

.sites a {
  display: block;
  padding: 0px 48px;
  }
  
li.sites-item::before {
position: absolute;
display: block;
margin-left: 0px;
margin: 0px;
content: "";
width: 2px;
height: 52px;
background: #EEEEEE;
}

li.sites-item::before {
margin-top: 10px;
}

li.sites-item:first-child:before {
 display: none
}

/* Map */

.map {
position: relative;
margin-top: 95px;
}

.map-list {
 list-style: none;
 }

/* Contacts */

.contacts {
position: absolute;
top: 55px;
left: 0px;
padding-left: 50px;
width: 275px;
min-height: 308px;
background: #FFFFFF;
z-index: 1;
}

.contacts h2 {
margin: 0;
margin-top: 50px;
margin-bottom: 23px;
font-weight: 700;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
color: #000000;
}

.contacts p{
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #666666;
}

.contacts .button {
  margin-top: 25px;
  margin-bottom: 47px;
  }

.contacts .button {
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
background: #FB565A;
border-radius: 3px;
padding: 17px 44px; 
 cursor: pointer;
}

.contacts .button:hover,
.contacts .button:focus {
 color: var(--basic-white);
 background: #E74246;
}

.contacts .button:active {
color: rgb(255,255,255, 0.5);
background: #D7373B;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
 }

 /* Main footer */

.main-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px 0;
  margin-top: 0px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  }

.container .main-footer-wrapper {
  display: flex;
  justify-content: space-around;
}

.footer-stocks {
  margin: 0px;
  margin-left: 175px;
  padding-top: 20px;
  width: 660px;
  justify-content: center;
    }

.footer-stocks h2 {
font-size: 36px;
line-height: 36px;
margin: 0;
}

p.title {
margin-top: 10px;
color: black;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}

.footer-social {
width: 261px;
margin: 0px;
margin-left: -35px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 250px;
  margin: 0 auto;
  color: var(--basic-black);
  list-style: none;
}
/* Social button */

.social-button {
  display: flex;
   flex-direction: row;
   align-items: center;
  justify-content: center;
  margin: auto;
  width: 78px;
  height: 78px;
  border-radius: 100%;
  color: inherit;
  background-color: #E1E1E1;
}

.social-button:hover,
.social-button:focus {
background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-button:active {
 background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
} 

.social-button:active path {
  fill: var(--basic-white);
   opacity: 0.3;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 2;
  }

.modal-show{
 display: block; 
animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.feedback-form{
  width: 761px;
  font-weight: 700;
 font-size: 16px;
 line-height: 18px;
  box-sizing: border-box;
   
}

.modal-feedback {
  top: auto; 
  bottom: 190px;
  width: 760px;
  padding: 0px 100px;
  padding-top: 153px;
  padding-bottom: 84px;
}

.modal-close {
  position: absolute;
  top: 165px;
  right: 80px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  bottom: 100px;
  right: 2px;
  width: 25px;
  height: 3px;
 background: rgba(251, 86, 90, 0.3);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover:before, 
.modal-close:hover:after {
background: rgba(251, 86, 90, 1);
 }
  
.modal-close:active:before, 
.modal-close:active:after {
background: rgba(251, 86, 90, 0.1);
 }

.modal-description{
padding-top: 47px;
margin-bottom: 10px;
font-weight: 700;
font-size: 16px;
line-height: 18px;
color: #000000;
}

.modal-description-3 {
 margin-top: 20px;
 }

.modal h2 {
  margin: 0;
  margin-bottom: 0px;
   margin-top: -95px;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

/*Feedback-form*/

.feedback-name,
.feedback-email {
width: 360px;
min-height: 50px;
}

.feedback-text {
width: 760px;
min-height: 118px;
padding-bottom: 70px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
font: inherit;
color: var(--basic-black);
background: #FFFFFF;
border: 2px solid #D7DCDE;
box-sizing: border-box;
border-radius: 3px;
}

.feedback-form input:focus {
background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 3px;
}

.feedback-form .button {
margin-top: 25px;
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
background: #FB565A;
border-radius: 3px;
padding: 17px 83px; 
}

.feedback-form .button:hover {
 color: var(--basic-white);
 background: #E74246;
}

.feedback-form .button:active {
color: rgb(255,255,255, 0.3);
background: #D7373B;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
 }

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Columns */

.inner-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  
}
.inner-column-left,
.inner-column-right {
  width: 360px;
  margin: 0px; 
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
  margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
  margin-bottom: 0px;
}