/* Variables */

:root {
--basic-gray: #EEEEEE;
--basic-extra-dark: #242424;
--basic-dark: #aba9a7;
--basic-neutral: #e5e5e5;
--basic-extra-light: #f8f5f2;
--basic-white: #FFFFFF;
--basic-black: #000000;

--special: #DFDFDF;
}

/* Global */

body {
min-width: 1157px;
margin: 0;
padding: 0;
font-family: "Roboto", Arial, sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: var(--basic-black);
background-color: var(--basic-white);
background-image: url("../img/bg.jpg");
background-position: top center;
background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page {
height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Grid for pages */

.page-main-maim {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

/* Main header */

.main-header {
  margin-bottom: 0px; 
  outline: 5px solid rgba(0, 255, 0, 0.3); 
  outline-offset: -5px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  text-transform: uppercase;
  }

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 8px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

/* Logo */

.main-header-logo {
  margin-top: 49px;
  order: 0;
  width: 159px;
  height: 65px;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  }

/* Container */

.container {
  width: 1137px;
  margin: 0 auto;
  padding: 0 10px;
}

.container .main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Site Navigation */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin-left: 200px;
  margin-top: 75px;
  padding: 0;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-gray);
}

/* User navigation */

.user-navigation {
 display: block; 
  max-width: 180px;
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
  margin-top: 75px;
  margin-left: auto;
  }

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
  display: block;
  padding: 25px 20px;
  }

.site-navigation a:hover,
.user-navigation a:hover {
  color: #FB565A;
  }

.site-navigation a:focus,
.user-navigation a:focus {
  color: #000000;
}

.site-navigation a:active,
.user-navigation a:active {
color: #000000;
mix-blend-mode: 400;
opacity: 0.3;
}

/* Basket */

.basket::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 24px;
  width: 15px;
  height: 15px;
  background-image: url("img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .basket {
  padding-left: 50px;
  position: relative;
}

/* Slider */

.site-wrapper {
  min-width: 1157px;
  background-color: #EEEEEE;
  background-image: url("img/nerds-index-slide1 1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.slider {
  position: relative;
  padding-top: 75px;
  padding-bottom: 80px;
  color: #000000;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-title {
  width: 540px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

p.slide-title {
  width: 400px;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.slide-button {
  display: inline-block;
  padding: 16px 54px;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: #FB565A;
  text-align: center;
  border-radius: 3px;
}

.slide-button:hover {
  background: #E74246;
}

.slide-button:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .slider-controls {
  position: absolute;
  bottom: 96px;
  left: 536px;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;

}

.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: var(--basic-white);
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
border: 2px solid #C1C1C1;
box-sizing: border-box;
}


/* Web-store */
.web-store h1 {
 font-size: 55px;
 line-height: 55px;
 text-align: center;
 color: var(--basic-black);
 background-color: var(--basic-gray);
}

/* Main-maim */
.main-maim {
color: var(--basic-black);
 background-color: var(--basic-white);
}
  
/* Features */

.features {
  margin-bottom: 80px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  outline: 5px solid rgba(255, 0, 0 , 0.3);
}

 .features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  margin-bottom: 25px;
 padding: 80px 0px;
  list-style: none;
 }

.features-item {
text-align: center;
outline: 5px solid #ff0000;
}

.features-item h3{
  font-weight: 700;
font-size: 24px;
line-height: 30px;
align-items: center;
text-transform: uppercase;
}
  
p.inner-title {
margin-bottom: 32px;
color: black;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.order-red {
padding: 15px 40px;
color: var(--basic-white);
font-weight: 500;
font-size: 16px;
line-height: 18px;
border-radius: 3px;
background-color: #FB565A;
}

.order-red:hover,
.order-red:focus {
  color: var(--basic-white);
 background: #E74246;
}

.order-red:active {
  background: #D7373B;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

 .order-green {
padding: 15px 40px;
color: var(--basic-white);
font-weight: 500;
font-size: 16px;
line-height: 18px;
border-radius: 3px;
background-color: #00CA74;
}

.order-green:hover,
.order-green:focus {
  color: var(--basic-white);
 background: #00BC6C;
}

.order-green:active {
background: #00AA62;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.order-yellow {
padding: 15px 40px;
color: var(--basic-white);
font-weight: 500;
font-size: 16px;
line-height: 18px;
border-radius: 3px;
background-color: #EFC849;
}

.order-yellow:hover,
.order-yellow:focus {
  color: var(--basic-white);
 background: #EAB534;
}

.order-yellow:active {
background: #E5A722;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
/* Virtues */

.blocks{
display: flex;
justify-content: space-between;
margin-bottom: 35px;
color: var(--basic-black);
background-color: var(--basic-white);
outline: 5px solid rgba(255, 25, 0, 0.7);
outline-offset: -5px;
}

.virtues {
  position: relative; 
width: 660px;
outline: 5px solid rgba(0, 12, 0, 165);
outline-offset: -5px;
}

.virtues-list {
  list-style: none;
}

.virtues h3{
position: relative; 
font-weight: 500;
font-size: 45px;
line-height: 45px;
color: var(--basic-black);
margin: 0;
margin-bottom: 25px;
}

.virtues-item {
position: absolute;
bottom: 40;
left: 0px;
margin: 0px;
padding: 0px; 
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.picture-list {
list-style: none;
}

.picture {
width: 360px;
outline: 5px solid rgba(0, 255, 0, 165);
outline-offset: -5px;
}
/* Advantages */

.advantages {
  width: 220px;
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 255, 0.7);
  }

.advantages fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  border: none;
}

.advantages fieldset:first-child {
  margin-bottom: 46px;
}

.advantages legend {
margin-bottom: 15px;
font-weight: 700;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
}

.advantages ul {
  padding: 0;
  margin: ;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.advantages li {
  padding: 0px;
  margin: 15px;
}

.advantages-input-checkbox:hover + label,
.advantages-input-checkbox:focus + label {
  color: var(--special);
}

/* Button */

.button {
  padding: 17px 88px;
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #EEEEEE;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background: #DFDFDF;
}

.button:active {
  background: #D5D5D5;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}
/* Catalog */

.catalog {
  margin-left: 130px;
  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
}

.catalog-item {
 width: 360px;
  min-height: 580px;
  margin-right: 40px;
  margin-bottom: 30px;  
  background-color: var(--basic-extra-light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

/* Services */

.columns{
display: flex;
justify-content: space-between;
margin-bottom: 75px;
color: var(--basic-black);
background-color: var(--basic-white);
outline: 5px solid rgba(255, 25, 0, 0.7);
outline-offset: -5px;
}

.services {
width: 400px;
color: var(--basic-black);
background-color: var(--basic-white);
outline: 5px solid rgba(0, 0, 255, 165);
outline-offset: -5px;
}

.services h3{
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
}

.services-list {
list-style: none;
}

.services-item {
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

/* Pros */

.pros {
margin-left: 370px;
color: var(--basic-black);
background-color: var(--basic-white);
outline: 5px solid rgba(0, 255, 0, 255);
outline-offset: -5px;
}

.pros h3{
margin-left: 5px;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
}

.pros-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
list-style: none;

}

ol .pros-item {
width: 78px;
min-height: 64px;
margin-right: 42px;
margin-bottom: 10px;
font-weight: 700;
font-size: 45px;
line-height: 64px;
}

.percent{
position: absolute;
font-weight: 700;
font-size: 26px;
line-height: 40px;
}

ul .pros-item {
 width: 119px;
min-height: 37px;
margin-right: 0px;
font-weight: 400;
font-size: 16px;
line-height: 18px;
}

.pros-item:nth-child(3n) {
  margin-right: 0;
}

/* Sites*/

.sites{
align-items: flex-start;
flex-direction: row;
}

.sites-list {
 display: flex;
  flex-wrap: wrap;
    list-style: none;
  }

.sites a {
  display: block;
  padding: 60px 30px;
}
  
.map-list {
 list-style: none;
 }

 /* Main footer */

.main-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px 0;
  margin-top: 65px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.container .main-footer-wrapper {
  display: flex;
  justify-content: space-around;
}

.footer-stocks {
  margin-left: 140px;
  width: 660px;
  justify-content: center;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  }

.footer-stocks h2 {
font-size: 36px;
line-height: 36px;
margin: 0;
  }

p.title {
color: black;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}

.footer-social {
  width: 261px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 250px;
  margin: 0 auto;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  list-style: none;
}
/* Social button */

.social-button {
  display: flex;
   flex-direction: row;
   align-items: center;
  justify-content: center;
  margin: auto;
  width: 78px;
  height: 78px;
  border-radius: 100%;
  color: inherit;
  background-color: #E1E1E1;
}

.social-button:hover,
.social-button:focus {
background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-button:active {
 background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
} 

/* Modal */

.modal {
  display: flex;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
  outline: 5px solid rgba(0, 0, 123, 0.7);
  outline-offset: -5px;
}

.modal h2 {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.modal-description {
  margin: 0;
  margin-bottom: 10px;
}

/* Feedback form */

.feedback-form{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-items: stretch;
  justify-content: space-between;
 outline: 5px solid rgba(0, 0, 255, 0.7);
}

.feedback-form p {
  font-weight: 700;
font-size: 16px;
line-height: 16px;
  margin: 0;
  margin-bottom: 10px;
}

.feedback-common {
font-weight: 400;
font-size: 16px;
line-height: 18px;
background-color: var(--transparent);
}

.feedback-form input[type="Имя Фамилия"],
.feedback-form input[type="В свободной форме"]
.feedback-form input[type="email"] {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light);
  border: 2px solid var(--basic-black);
}

.feedback-form input:focus {
  border-color: var(--special);
}

.feedback-form .feedback-help {
  margin: 15px 0;
}


