/* Variables */

:root {
--basic-gray: #EEEEEE;
--basic-extra-dark: #242424;
--basic-dark: #aba9a7;
--basic-neutral: #e5e5e5;
--basic-extra-light: #f8f5f2;
--basic-white: #FFFFFF;
--basic-black: #000000;

--special: #9A9090;
}

/* Global */

body {
min-width: 1157px;
margin: 0;
padding: 0;
font-family: "Roboto", Arial, sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: var(--basic-black);
background-color: var(--basic-white);
background-image: url("../img/bg.jpg");
background-position: top center;
background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */
.page {
height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Grid for pages */

.page-main-maim {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

/* Main header */

.main-header {
    margin-bottom: 70px; 
  outline: 5px solid rgba(0, 255, 0, 0.3); 
  outline-offset: -5px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

/* Main navigation */

.main-navigation {
  display: flex-start;
  flex-direction: row;
  align-items: center;
   font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  text-transform: uppercase;
  }

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}
/* Logo */

.main-header-logo {
  order: 0;
  width: 159px;
  height: 65px;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;}

/* Container */

.container {
  width: 1137px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

/* Site Navigation */

.site-navigation {
  width: 620px;
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-gray);
}

/* User navigation */

.user-navigation {
  max-width: 140px;
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-extra-light);
}

/* Login link */

.user-navigation .login-link {
  padding-left: 50px;
}

.web-store h1 {
  outline-offset: -5px;
  outline: 5px solid rgba(255, 25, 0, 0.7);
  font-size: 55px;
  line-height: 55px;
 text-align: center;
 color: var(--basic-black);
 background-color: var(--basic-gray);
}

/* Main-maim */
.main-maim {
color: var(--basic-black);
 background-color: var(--basic-white);
}

/* Features */

 .features {
  margin-bottom: 80px;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
}
.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
list-style: none;
}

.features-item {
text-align: center;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
}

.features-item h3{
font-weight: 700;
font-size: 24px;
line-height: 30px;
align-items: center;
text-transform: uppercase;
}
  
.inner-title {color: black;}
p {font-weight: 400;
font-size: 16px;
line-height: 24px;
}

 .feature-item p {
margin: 0 10px;
}
 
 .order-red {
color: var(--basic-white);
font-weight: 500;
font-size: 16px;
line-height: 18px;
background-color: #FB565A;
}

.order-red:hover,
.order-red:focus {
  color: var(--basic-white);
  background-color: var(--special);
}

 .order-green {
color: var(--basic-white);
font-weight: 500;
font-size: 16px;
line-height: 18px;
background-color: #00CA74;
}

.order-green:hover,
.order-green:focus {
  color: var(--basic-white);
  background-color: var(--special);
}

.order-yellow {
color: var(--basic-white);
font-weight: 500;
font-size: 16px;
line-height: 18px;
background-color: #EFC849;
}

.order-yellow:hover,
.order-yellow:focus {
  color: var(--basic-white);
  background-color: var(--special);
}
/* Advantages */

.advantages {
  width: 220px;
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 255, 0.7);
  }

.advantages fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  border: none;
}

.advantages fieldset:first-child {
  margin-bottom: 46px;
}

.advantages legend {
margin-bottom: 15px;
font-weight: 700;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
}

.advantages ul {
  padding: 0;
  margin: ;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.advantages li {
  padding: 0px;
  margin: 15px;
}

.advantages-input-checkbox:hover + label,
.advantages-input-checkbox:focus + label {
  color: var(--special);
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-gray);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--special);
}
/* Catalog */

.catalog {
  margin-left: 130px;
  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
}

.catalog-item {
 width: 360px;
  min-height: 580px;
  margin-right: 40px;
  margin-bottom: 30px;  
  background-color: var(--basic-extra-light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

/* Main footer */

.main-footer{
  padding: 60px 0;
  margin-top: 65px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-stocks {
  margin-left: 140px;
  width: 660px;
  justify-content: center;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  }

.footer-stocks h2 {
  font-size: 36px;
line-height: 36px;
margin: 0;
  }

.title {color: black;}
p {font-size: 16px;
line-height: 22px;
}

.footer-social {
  width: 261px;
   outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.footer-social ul {
    width: 250px;
  margin: 0 auto;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  list-style: none;
}
/* Social button */

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  color: var(--basic-white);
  background-color: var(--basic-gray);
}

/* Modal */

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
  outline: 5px solid rgba(0, 0, 123, 0.7);
  outline-offset: -5px;
}

.modal h2 {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.modal-description {
  margin: 0;
  margin-bottom: 10px;
}

/* Feedback form */

.feedback-form p {
font-weight: 700;
font-size: 16px;
line-height: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.feedback-common {
font-weight: 400;
font-size: 16px;
line-height: 18px;
background-color: var(--transparent);
}

.feedback-form input[type="Имя Фамилия"],
.feedback-form input[type="В свободной форме"]
.feedback-form input[type="email"] {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light);
  border: 2px solid var(--basic-black);
}

.feedback-form input:focus {
  border-color: var(--special);
}

.feedback-form .feedback-help {
  margin: 15px 0;
}


